<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".IPCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme = "@style/Theme.IPC_APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity
            android:name=".ui.screens.splash.SplashScreenActivity"
            android:theme = "@style/Theme.AppSplash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.role.ChooseRoleActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.home.ClientHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.exercises.list.ExercisesListActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.exercises.info.ExerciseActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.profile.ClientProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.profile.MonitorProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.search.SearchMonitorsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.home.MonitorHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.details.ClientDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.details.MonitorDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.search.SearchClientsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.plan.CreatePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.screens.about.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <!-- ML KIT Activities -->

        <!--android:theme="@style/Theme.IPC_APP"-->
        <activity
            android:name=".mlkit.vision.CameraXLivePreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.IPC_APP"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".mlkit.preference.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.IPC_APP"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>